<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dash Board</title>
</head>
<body>
    <h1>Mongoose Dash Board</h1>
    <% if(messages.registration) { %>
        <% for (var x of messages.registration) { %>
         <h3><%= x %></h3>
        <% } %>
   <%}%>



    <h2>Add a New Mongoose</h2>

    <form action="/addMongoose" method="post">
    Name: <input type="text" name="name" ><br><br>
    Age: <input type="text" name="age" ><br><br>
    Id: <input type="text" name="id" ><br><br>
        <button type="submit">Add</button>
    </form>
    <br>

    <a href="/"><button>Back</button></a>

</body>
</html>